
/* RESET CSS */

ul{
  margin:0;
  padding:0;
}

li{
  margin:0;
  padding:0;
  list-style: none;
}

a{
	text-decoration: none;
}

/* END RESET CSS */

body{
	background-color:rgb(249, 250, 254);
	font-family: Verdana, sans-serif;
}

.flexContainer{
	display: flex;
	align-items: baseline;
	flex-direction: column;
	justify-content: space-between;
}

.navLogo{
	font-size: .9em;
	margin: 4px 0 12px 6px;
}
a{
	color: rgb(128,128,128);
}
.navItem, .navItemReverse, .navItemFooter{
	font-size: .875em;
}
.navItem{
	padding: 12px 0 0 6px;
}

ul{
	width: 100%;
}

.navItemReverse, .navItemFooter{
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	border-radius: 30px;
	text-align: center;
	width: 100%;
	height: 2em;
	margin: 10px 6px;
	padding-top: .75em;
}

.companyName{
	font-weight: normal;
	font-size: 1.8em;
	margin-top: 4px 0;
}
.companyDescription{
	border-left: 3px solid rgb(204,204,204);
	padding: 0 18px;
	margin-left: 6px;
	color: rgb(128,128,128);
	font-size: .9em;
	line-height: 1.375em;
}

.companyImg{
	display: none;
}

footer{
	margin-top: 18px;
}
@media (min-width: 480px){

	.companyImg{
		display: flex;
		justify-content: flex-end;
		opacity: .8;
	}

	.flexContainer{
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	.companyText{
		flex-direction: column-reverse;
		justify-content: flex-start;
	}
	.navItemReverse, .navItemFooter{
		width: 8em;
		height: 1.5em;
	}

	.navItem{
		padding: 0 6px;
	}

	.navLogo{
		font-size: .825em;
	}

	.topNav{
		justify-content: flex-start;
	}

	.navMenu{
		justify-content: flex-end; 
/*this is being over-ridden, why?*/
	}
	footer{
		width: 100%;
	}
	.navItemFooter{
			margin: 0 auto;
	}
}
/*flex direction is going to change from column to row in the 1 media query*/